
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @bookpost %>

	</div>

    <div class="col-xs-9">
		   <h2>Book detail</h2>

		    <table class="table">
				<tr id="book_<%= @book.id %>">
					<%= render 'books/item', book: @book %>
					<% if @book.user_id == current_user.id %>
		                 <td class="edit_book"><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %>
		                 </td>
		                 <td class="destroy_book"><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %>
		                 </td>
		            <% end %>
				</tr>
			</table>
		<div id="comments_index">
			<%= render 'comment', book_comments: @book_comments %>
		</div>
		<div id="comment_area">
			<%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
		</div>
    </div>
</div>

